html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Roboto,Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}


a:active,
a:hover {
  outline: 0;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}



img {
  border: 0;
}


small {
  font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
select {
  text-transform: none;
  border: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

body,
p,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}
/* normalize/rest 结束*/


/*以下是通用部分*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.more-button {
    display: block;
    text-align: center;
}

/*head-guide部分*/

.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
  visibility: hidden;
  clear: both;
}

.head-guide p{
  float: left;
  line-height: 37px;
  margin: 10px 0;
  vertical-align: middle;
}

.head-guide p img {
  vertical-align: middle;
}

.head-guide nav {
  float: right;
}

.head-guide nav li{
  float: left;
}

.head-guide nav li a {
  display: block;
  line-height: 55px;
  margin-left: 20px;
  opacity: 0.5;
}

.head-guide nav li a:hover {
  color: red;
  border-bottom: 2px solid red;
  opacity: 1;
}

.head-guide .selected {
  color: red;
  border-bottom: 2px solid red;
  opacity: 1;
}

/*以下是简介部分*/

#intro header {
    background-image: url(../img/intrain.png);
    background-size: cover;
    height: 500px;

}

#intro header div {
    background-color: rgba(0, 10, 55, 0.2);
    height: 100%;
}
#intro h1 {
    color: #fff;
    padding: 180px 0 20px 80px;
    font-size: 48px;
    font-weight: normal;
}

#intro h1 + small {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    padding-left: 90px;
    line-height: 1.5;
}

#intro .more-button {
    width: 180px;
    height: 40px;
    margin: 40px 0 0 90px;
    line-height: 40px;
    color: #fff;
    background-color: #e74f4d;
}

#intro .icon {
    display: block;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
}

#intro .description li:first-child .icon {
    background-position: 50% 50%;
    background-image: url(../img/icon-target.png);
}

#intro .description li:nth-child(2) .icon {
    background-position: 50% 50%;
    background-image: url(../img/icon-flag.png);
}

#intro .description li:nth-child(3) .icon {
    background-position: 50% 50%;
    background-image: url(../img/icon-flower.png);
}

#intro .description li:nth-child(4) .icon {
    background-position: 50% 50%;
    background-image: url(../img/icon-blocks.png);
}

#intro .description {
    text-align: center;
}

#intro .description li {
    display: inline-block;
    width: 23%;
    margin-bottom: 50px;
}

#intro .description .icon + p {
    padding: 0 20px;
    border-right: 1px solid grey;
}

#intro .description li:last-child .icon + p {
    border-right: none;
}

#intro h2 {
    background-color: #ededec;
    padding: 180px 0 100px 0;
    text-align: center;
    font-size: 30px;
    color: #867e7a;
    background-repeat: no-repeat;
    background-position: 50% 50px;
    background-image: url(../img/icon-books.png);
    letter-spacing: 0.1em;
}

/*以下是活动信息部分*/

#activity .search-form {
    height: 300px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    text-align: center;
}


.search-form h1 {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    padding: 50px 0 0 0;
}

.search-form h1:nth-child(2) {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 25px;
    height: 25px;
}
.search-form h1 + small {
    display: block;
    color: #fff;
    margin-bottom: 50px;
}


.search-form .fake-select, .search-form > button {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    width: 20%;
    height: 40px;
}


.search-form button {
    background-color: #be4e48;
    color: rgba(255, 255, 255, 0.8);
    -moz-text-align-last: justify;
    text-align-last: justify;
    padding: 0 80px;
}

.search-form .fake-select {
    background-color: #fff;
    color: #b5aeab;
    border: none;
    padding-left: 2px;
}

.search-form .fake-select option {
    color: black;
}

.search-form .fake-select option:hover {
    color: white;
    background-color: #be4e48;
}

.search-form .fake-select option::before {
    content: "√";
    margin: 0 0.5em;
}


.city-activity {
    box-sizing: content-box;
    background-color: #f7f7f7;
    height: 400px;
    text-align: center;
    padding: 80px 0;
}

.city-activity > div {
    display: inline-block;
    width: 220px;
    height: 330px;
    border: 1px solid #d9d5d4;
    background-image: url(../img/paints.png);
    background-repeat: no-repeat;
    background-color: #fff;
    margin-right: 30px;
}

.city-activity > div * {
    position: relative;
    top: 350px;
}

.city-activity h2 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.city-activity small {
    display: block;
    color: #b5aeab;
}

.city-activity > div:first-child {
    background-position: 8px 8px;
}

.city-activity > div:nth-child(2) {
    background-position: -246px -44px;
    position: relative;
    top: 50px;
}

.city-activity > div:nth-child(3) {
    background-position: -504px 7px;
}

.city-activity > div:nth-child(4) {
    background-position: -760px 10px;
    margin-right: 0;
}

.city-activity > div:nth-child(2) * {
    top: -50px;
}

.city-activity > div:nth-child(2) h2 {
    -moz-text-align-last: justify;
    text-align-last: justify;
}

/*图库部分*/

#gallery::after {
    content: "";
    display: table;
    clear: both;
}

#gallery .row > div {
    float: left;
}

#gallery .row:first-child .photo-placeholder {
    background-image: url(../img/legs.png);
    background-repeat: no-repeat;
    width: 850px;
    height: 567px;
}

#gallery .description {
    width: 350px;
    padding: 100px 50px;
}

#gallery .row:first-child .description {
    height: 567px;
    color: #c7c6c6;
    line-height: 2;
}

#gallery .index {
    color: #ed8173;
}

#gallery .row h1 {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: normal;
}

#gallery .more-button {
    width: 150px;
    color: #ed8173;
    border: 1px solid #ed8173;
    padding: 5px 0;
    margin: 30px auto 0 auto;
}

#gallery .tab-button {
    margin-top: 30px;
    text-align: center;
}

#gallery .tab-button button {
    width: 8px;
    height: 15px;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: #fff;
}

#gallery .tab-button .checked {
    background-color: grey;
}

#gallery .row:last-child .photo-placeholder {
    background-image: url(../img/station.png);
    position: relative;
    height: 521px;
    width: 350px;
}

#gallery .row:last-child .photo-placeholder::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid #fff;
    border-bottom: 25px solid transparent;
    top: 50%;
    transform: translateY(-50%);
}

#gallery .row:last-child .description {
    width: 425px;
    height: 521px;
    text-align: center;
}

#gallery .row:last-child .description p {
    font-size: 35px;
    height: 35px;
}

#gallery .row:last-child .description:first-child {
    background-color: #e74f4d;
    color: white
}

#gallery .row:last-child .description:first-child h1 {
    color: inherit;
}

#gallery .row:last-child .description:first-child .more-button {
    color: white;
    border-color: currentColor;
}


/*报名表单*/

#join-us {
    margin-bottom: 100px;
}

#join-us::after {
    content: "";
    display: table;
    clear: both;
}

#join-us .prompt {
    text-align: center;
    width: 550px;
    margin: 100px auto;
}

#join-us .prompt p {
    color: #b5aeab;
    margin-top: 20px;
}

#join-us .column {
    float: left;
}

#join-us div.column {
    width: 30%;
}

#join-us div.column h2 {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
}

#join-us div.column p {
    color: #b5aeab;
    margin-bottom: 30px;
}

#join-us div.column p a {
    float: right;
    margin-top: 10px;
    color: black;
}

#join-us div.column p a::before {
    content: "↓";
    color: #b5aeab;
    margin-right: 5px;
}

#join-us form.column {
    width: 70%;
    padding-left: 50px;
}

#join-us form.column::after {
    display: table;
    content: "";
    clear: both;
}

#join-us form > * {
    float: left;
}

#join-us input {
    width: 280px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: none;
    background-color: #ededee;
    padding: 10px 5px;
}

#join-us input[name="address"] {
    width: 665px;
    margin-right: 0;
}

#join-us label {
    margin-right: 5px;
    width: 5em;
    -moz-text-align-last: justify;
    text-align-last: justify;
    margin-top: 7px;
}

#join-us label[for="dream"] {
    width: 100%;
    -moz-text-align-last: left;
    text-align-last: left;
    margin-bottom: 10px;
}

#join-us textarea {
    width: 750px;
    height: 110px;
    background-color: #ededee;
    border: none;
    margin-bottom: 30px;
}

#join-us button {
    display: block;
    float: none;
    clear: both;
    background-color: white;
    margin: 0 auto;
    width: 5em;
    cursor: pointer;
}

/*联系我们*/
#contact-us {
    background-color: #32353e;
    color: white;
    text-align: center;
    padding: 100px 0;
}

#contact-us h1 {
    font-weight: normal;
    margin-bottom: 5px;
}

#contact-us .search {
    margin-top: 20px;
    vertical-align: top;
}

#contact-us .search input {
    width: 550px;
    height: 40px;
    padding: 10px 5px;
}

#contact-us .search button {
    background-color: #686166;
    color: white;
    width: 90px;
    height: 40px;
    padding: 0 20px;
    -moz-text-align-last: justify;
    text-align-last: justify;
    vertical-align: top;
}

#contact-us .link a {
    display: block;
    width: 30px;
    height: 30px;
}

#contact-us .link li {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-top: 50px;
    margin-right: 30px;
}

#contact-us .link li:first-child {
    background-image: url(../img/iconfont-qq.png);
}

#contact-us .link li:nth-child(2) {
    background-image: url(../img/iconfont-weibo.png);
}

#contact-us .link li:nth-child(3) {
    background-image: url(../img/iconfont-twitter.png);
}

#contact-us .link li:nth-child(4) {
    background-image: url(../img/iconfont-diqiu.png);
}

#footer {
    background-color: #2f3038;
    color: white;
    padding: 30px 60px 20px 60px;
}

#footer a {
    float: right;
}
