html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Roboto,Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}


a:active,
a:hover {
  outline: 0;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}



img {
  border: 0;
}

body,
p,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}
/* normalize/rest 结束*/


/*通用部分*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.more-button {
    display: block;
    text-align: center;
}

.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
  visibility: hidden;
  clear: both;
}

/*head-guide部分*/

.head-guide p{
  float: left;
}

.head-guide nav {
  float: right;
}

.head-guide nav li{
  float: left;
}


/*start部分*/

.start {
  height: 500px;
  background-image: url(../img/intrain.png);
  background-size: cover;
}

/*description部分*/

.detail-description {
  height: 198px;
}

.detail-description ul li {
  float: left;
}

.do-you-know header {
  height: 325px;
  background-color: gray;
}

.do-you-know section {
  height: 300px;

}


.activity {
  height: 560px;
  background-color: gray;
}

.activity ul li{
  float: left;
}

 /*showfuture部分*/

 .show-future {
  display: flex;
 }

 .left-top {
  width: 850px;
  height: 567px;
 }

 .right-top {
  width: 350px;
  height: 567px;
 }

 .left-bottom {
    width: 850px;
    height: 521px;
 }

.right-bottom {
  width: 350px;
  height: 521px;
}


/*jion-us部分*/

.jion-us {
  height: 565px;
}

/*contact-us部分*/

.contact-us {
  height: 446px;
}
