html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font-family: Roboto,Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}


a:active,
a:hover {
  outline: 0;
}


h1 {
  font-size: 2em;
  margin: 0.67em 0;
}



img {
  border: 0;
}

body,
p,
ul,
li,
h1,
h2 {
  margin: 0;
  padding: 0;
}

li {
    list-style: none;
}
/* normalize/rest 结束*/


/*通用部分*/

.container {
    width: 1200px;
    margin: 0 auto;
}

.more-button {
    display: block;
    text-align: center;
}

.clearfix:after {
  display: block;
  content: "";
  line-height: 0;
  visibility: hidden;
  clear: both;
}

/*head-guide部分*/

.head-guide p{
  float: left;
  line-height: 37px;
  margin: 10px 0;
  vertical-align: middle;
}

.head-guide p img {
  vertical-align: middle;
}

.head-guide nav {
  float: right;
}

.head-guide nav li{
  float: left;
}

.head-guide nav li a {
  display: block;
  line-height: 55px;
  margin-left: 20px;
  opacity: 0.5;
}

.head-guide nav li a:hover {
  color: red;
  border-bottom: 2px solid red;
  opacity: 1;
}

.head-guide .selected {
  color: red;
  border-bottom: 2px solid red;
  opacity: 1;
}


/*start部分*/

.start {
  height: 500px;
  background-image: url(../img/intrain.png);
  background-size: cover;
  padding: 180px 0 200px 100px;
  color: #ffffff;
}

.start h1 {
  margin-bottom: 10px;
}

.start article small {
  opacity: 0.7;
}

.start a {
  display: block;
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  background-color: red;
  line-height: 50px;
  margin-top: 20px;
  opacity: 0.8;
}


/*description部分*/

.detail-description {
  height: 198px;
}

.detail-description ul li {
  float: left;
  width: 25%;
  height: 198px;
  text-align: center;
  padding-top: 30px;
}

.detail-description ul li p {
  display: block;
  margin-top: 20px;
  padding: 0 55px 0 55px;
  border-right: 1px solid gray;
}

.detail-description ul li:last-child p {
  border:0;
}


.do-you-know header {
  height: 325px;
  background-color: rgba(244,67,54,0.09);
  text-align: center;
  padding-top: 60px;
}

.do-you-know header h1 {
  margin-top: 20px;
  color: black;
  opacity: 0.6;
}



.do-you-know .lookInfo {
  height: 300px;
  text-align: center;
  color:#ffffff;
  background-image: url(../img/map.png);
  padding-top: 50px;
}

.do-you-know .lookInfo div {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  margin-left: 580px;
  margin-top: -10px;
  margin-bottom: 15px;
}

.do-you-know .lookInfo  small {
  display: block;
  margin-bottom: 40px;
}

.do-you-know .lookInfo select {
  width: 200px;
  height: 30px;
}

.do-you-know .lookInfo input {
  width: 180px;
  background-color: red;
  color: #ffffff;
  border: 0;
}

.activity {
  height: 560px;
  background-color: rgba(128,128,128,0.1);
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 1200px;
}

.activity ul {
  display: inline-block;
  opacity: 1;
}


.activity ul li{
  float: left;
  height: 100%;
  line-height: 100%;
  margin-right: 30px;
}

.activity  p {
  font-size: 16px;
}

.activity p span {
  font-size: 12px;
  opacity: 0.6;
}

#spc {
  text-align-last: justify;
}
/*
#spc {
  text-align: justify;
}

#spc:after {
  display: block;
  content: ",";
  line-height: 0;
  visibility: hidden;
}*/

.activity .pic {
  width: 220px;
  height: 230px;
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.activity ul li:first-child .pic {
  background-image: url(../img/paints.png);
  background-position: 8px 8px;
}

.activity ul li:nth-child(2) .pic {
  background-image: url(../img/paints.png);
  background-position: -246px -50px;
}

.activity ul li:nth-child(3) .pic {
  background-image: url(../img/paints.png);
  background-position: -504px 7px;
}

.activity ul li:nth-child(4) .pic {
  background-image: url(../img/paints.png);
  background-position: -760px 10px;
}





 /*showfuture部分*/

 .show-future {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .show-future .left-top {
  width: 850px;
  height: 567px;
  background-image: url(../img/legs.png);
  background-size: cover;
  text-align: center;
  color: #ffffff;
 }

.show-future .left-top article {
  margin-top: 110px;
}

.show-future .left-top article h3 {
  font-size: 50px;
  margin: 0;
}

.show-future .left-top article h1 {
  font-size: 180px;
  font-family: 宋体;
  margin: 0;
}

 .show-future .right-top {
  width: 350px;
  height: 567px;
  text-align: center;
  padding:0 40px;
 }

 .show-future .right-top article {
  margin-top: 150px;
 }

 .show-future .right-top article h1 {
  font-size: 20px;
  margin-bottom: 30px;
 }

.show-future .right-top article h1 span {
  color: red;
}

.show-future .right-top article p {
  font-size: 12px;
  opacity: 0.6;
}

.show-future .right-top article a {
  display: block;
  margin-top: 40px;
  color: red;
  width: 80px;
  height: 30px;
  border: 1px solid red;
  margin-left: 100px;
}

.show-future .right-top nav {
  margin-left:95px;
}

.show-future .right-top nav li {
  float: left;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: gray;
  margin: 20px 10px;
}

 .show-future .left-bottom {
    width: 850px;
    height: 521px;
    display: flex;
 }

.show-future .left-bottom-left {
  flex: 1;
  background-color: red;
  color: white;
  padding-top:200px;
  text-align: center;
}

.show-future .left-bottom-left a {
  display: block;
  width: 130px;
  height: 35px;
  line-height: 35px;
  margin-top: 15px;
  margin-left: 150px;
  border: 1px solid white;
}

.show-future .left-bottom-right {
  flex: 1;
  padding-top:200px;
  text-align: center;
}

.show-future .left-bottom-right span {
  color: gray;
}

.show-future .left-bottom-right a {
  display: block;
  width: 130px;
  height: 35px;
  line-height: 35px;
  margin-top: 15px;
  margin-left: 150px;
  color: red;
  border: 1px solid red;
}

.show-future .right-bottom {
  width: 350px;
  height: 521px;
  background-image: url(../img/station.png);
  background-size: cover;
  position: relative;
}

.show-future .right-bottom .angle {
  width: 0;
  height: 0;
  border-left: 40px solid white;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}


/*jion-us部分*/

.jion-us {
  height: 565px;
}

.jion-us header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 300px;
}

.jion-us header h1 {
  font-size: 16px;
  margin: 0;
}

.jion-us header h3 {
  font-size: 30px;
  color: red;
  margin: 0;
}

.jion-us header p {
  color: gray;
}

/*contact-us部分*/

.contact-us {
  height: 446px;
}


/*footer部分*/
footer {
  height: 30px;
  background-color: black;
  color: #ffffff;
}

footer small {
  float: left;
}

footer a {
  float: right;
}
